.infoDiv {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  & img {
    width: 30%;
  }
  & p {
    font-size: 20px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
  }
  & .content {
    font-size: 15px;
    color: rgb(65, 63, 63);
    margin-bottom: 10px;
  }
}
